<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="../stylesheets/info.css" />
  <link rel="stylesheet" href="../stylesheets/style.css" />
  <!-- <link rel="stylesheet" href="../stylesheets/login.css" /> -->
</head>

<body>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/loghome">ROBB'IN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/loghome">Home</a>
          </li>
          <!-- <li class="nav-item"><a class="nav-link" href="#!">About</a></li> -->
          <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Shop</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#prdinfo">Products Info</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#Relatedproducts"
                    >Related products</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#YoumayalsoLike"
                    >You may also Like</a
                  >
                </li>
              </ul>
            </li> -->
        </ul>
        <div class="d-flex">
          <p class="me-3 mt-2">Hey <%= user.username %>
          </p>
        </div>
        <div class="d-flex">
          <a href="/card" class="btn btn-outline-dark">
            <i class="bi-cart-fill me-1"></i>
            Cart
            <span class="badge bg-dark text-white ms-1 rounded-pill">
              <%= user.product.length %>
            </span>
          </a>
        </div>
        <div class="d-flex">
          <% if(user.login==="yes" ){ %>
            <a class="btn btn-outlines-dark ms-lg-4" href="/logout" type="submit">
              <!-- <i class="bi-cart-fill me-1"></i> -->
              <i class="ri-login-box-line me-1"></i>
              logout
            </a>
            <% } %>
              <% if(user.login !=="yes" ){ %>
                <a class="btn btn-outlines-dark ms-lg-4" href="/gotologin" type="submit">
                  <!-- <i class="bi-cart-fill me-1"></i> -->
                  <i class="ri-login-box-line me-1"></i>
                  login
                </a>
                <% } %>
        </div>
      </div>
  </nav>
  <!-- <a href="javascript: history.go(-1)"><i class="ri-close-line close"></i></a> -->
  <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Your Card</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <% if(value.product.length <=0){ %>
          <h3 class="mt-5">Your Basket is empty</h3>
          <% } %>
            <% value.product.forEach(function(val){ %>
              <div class="col mb-5">
                <div class="card h-100">
                  <!-- Product image-->
                  <!-- <img
                class="card-img-top"
                src="../images/<%= val.img1 %>"
                alt="..."
              /> -->
                  <img loading="lazy" class="card-img-top " src="data:<%= val. img1.contentType %>;base64,<%= val.img1.data %>"
                    alt="pic">
                  <!-- Product details-->
                  <div class="card-body p-4">
                    <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">
                        <%= val.name %>
                      </h5>
                      <!-- Product price-->
                      Rs <%= val.price %>/-
                    </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                      <a class="btn btn-outline-dark mt-auto res" href="/buy/<%=val.id %>">Buy now </a>
                      <a class="ms-3 btn btn-outline-dark mt-auto" href="/card/<%= val._id %>"> Remove<i class=" ms-1 ri-delete-bin-2-line"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>
      </div>
    </div>
  </section>
</body>

</html>