<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description " content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
    />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="../stylesheets/info.css" rel="stylesheet" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/loghome">Robin</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/loghome">Home</a>
            </li>
            <!-- <li class="nav-item"><a class="nav-link" href="#!">About</a></li> -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Shop</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#prdinfo">Products Info</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#Relatedproducts">Related products</a></li>
                <li><a class="dropdown-item" href="#YoumayalsoLike">You may also Like</a></li>
              </ul>
            </li>
          </ul>
          <div class="d-flex">
              <p class="me-3 mt-2">Hey <%= user.username %></p>
            </div>
          <form class="d-flex">
            <a href="/card" class="btn btn-outline-dark">
              <i class="bi-cart-fill me-1"></i>
              Cart
              <span class="badge bg-dark text-white ms-1 rounded-pill"
                ><%= user.product.length %></span
              >
            </a>
          </form>
          <form class="d-flex">
            <% if(user.login === "yes"){ %>
            <a
              class="btn btn-outlines-dark ms-lg-4"
              href="/logout"
              type="submit"
            >
              <!-- <i class="bi-cart-fill me-1"></i> -->
              <i class="ri-login-box-line me-1"></i>
              logout
            </a>
            <% } %> <% if(user.login !== "yes"){ %>
            <a
              class="btn btn-outlines-dark ms-lg-4"
              href="/gotologin"
              type="submit"
            >
              <!-- <i class="bi-cart-fill me-1"></i> -->
              <i class="ri-login-box-line me-1"></i>
              login
            </a>
            <% } %>
          </form>
        </div>
      </div>
    </nav>
    <!-- Product section-->
    <section id="prdinfo" class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5">
          <div class="col-md-6">
            <!-- <img
              class="card-img-top mb-5 mb-md-0"
              src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
              alt="..."
            /> -->
            <div class="slider">
              <div class="ab">
                <img
                  class="card-img-top mb-5 mb-md-0"
                  src="../images/<%= prd.img1 %>"
                  alt=""
                />
              </div>
              <div class="ab">
                <img
                  class="card-img-top mb-5 mb-md-0"
                  src="../images/<%= prd.img2 %>"
                  alt=""
                />
              </div>
              <div class="ab">
                <img
                  class="card-img-top mb-5 mb-md-0"
                  src="../images/<%= prd.img3 %>"
                  alt=""
                />
              </div>
              <div class="ab">
                <img
                  class="card-img-top mb-5 mb-md-0"
                  src="../images/<%= prd.img4 %>"
                  alt=""
                />
              </div>
              <div class="ab">
                <img
                  class="card-img-top mb-5 mb-md-0"
                  src="../images/<%= prd.img5 %>"
                  alt=""
                />
              </div>
            </div>
            <div
              class="mt-sm-5 navx row gx-4 gx-lg-5 row-cols-21 row-cols-md-3 row-cols-xl-2 justify-content-center"
            >
              <div class="col mb-5 me-md-1">
                <img
                  class="card-img-top"
                  src="../images/<%= prd.img1 %>"
                  alt=""
                />
              </div>
              <div class="col mb-5 me-md-1">
                <img
                  class="card-img-top"
                  src="../images/<%= prd.img2 %>"
                  alt=""
                />
              </div>
              <div class="col mb-5 me-md-1">
                <img
                  class="card-img-top"
                  src="../images/<%= prd.img3 %>"
                  alt=""
                />
              </div>
              <div class="col mb-5 me-md-1">
                <img
                  class="card-img-top"
                  src="../images/<%= prd.img4 %>"
                  alt=""
                />
              </div>
              <div class="col mb-5 me-md-1">
                <img
                  class="card-img-top"
                  src="../images/<%= prd.img5 %>"
                  alt=""
                />
              </div>
            </div>
            <!-- <div class="arrow ms-6">
              <i class="ri-arrow-left-s-line prev fs-1"></i>
              <i class="ri-arrow-right-s-line next fs-1"></i>
            </div> -->
          </div>
          <div class="col-md-6 mt-5">
            <!-- <div class="small mb-1">SKU: BST-498</div> -->
            <h1 class="display-5 fw-bolder"><%= prd.name %></h1>
            <!-- <br /> -->
            <div class="fs-5 mb-5">
              <!-- <span class="text-decoration-line-through me-3 red"
                >Rs <%= prd.price %>/-</span
              > -->
              <span>Rs <%= prd.price %>/-</span>
            </div>
            <div class="d-flex">
              <a
                href="/buy/<%= prd._id %>"
                class="btn btn-outline-dark flex-shrink-0"
                >Buy Now</a
              >
              <% if(user.product.indexOf( prd._id ) === -1 ){%>
              <a
                href="/card/<%= prd._id %>"
                class="btn btn-outline-dark flex-shrink-0 ms-3"
              >
                <i class="bi-cart-fill me-1"></i>
                Add to cart
              </a>
              <% } else{ %>
              <a
                href="/card/<%= prd._id %>"
                class="btn btn-outlines-dark flex-shrink-0 ms-3"
              >
                <i class="bi-cart-fill me-1"></i>
                Added
              </a>
              <% } %>
            </div>
            <hr />

            <br />
            <div class="d-flex ms-5">
              <div class="me-4 asd">
                <img
                  class="w-10 h-10"
                  src="../images/logo/icon-cod._CB485937110_.png"
                  alt=""
                />
                <p class="logotext">Cash on Delivery</p>
              </div>
              <div class="me-4 asd">
                <img
                  class="w-10 h-10"
                  src="../images/logo/icon-amazon-delivered._CB485933725_.png"
                  alt=""
                />
                <p class="logotext">Free Delivered</p>
              </div>
              <div class="me-4 asd">
                <img
                  class="w-10 h-10"
                  src="../images/logo/icon-returns._CB484059092_.png"
                  alt=""
                />
                <p class="logotext">7 Days Replacement</p>
              </div>
            </div>
            <br />
            <!-- <hr /> -->
            <div class="border">
              <h5 class="ms-3 mt-4">Specifications</h5>
              <% if( prd.type === "smartwatch"){%>
              <div class="ms-4">
                <table class="mt-4 me-4">
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">Name</td>
                    <td class="ms-5"><%= prd.name %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">Price</td>
                    <td class="ms-5">Rs <%= prd.price %>/-</td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">DialColour</td>
                    <td class="ms-5"><%= prd.DialColour %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">DialShape</td>
                    <td class="ms-5"><%= prd.DialShape %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">StrapColore</td>
                    <td class="ms-5"><%= prd.StrapColor %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">StrapMaterial</td>
                    <td class="ms-5"><%= prd.StrapMaterial %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">Size</td>
                    <td class="ms-5"><%= prd.Size %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">TouchScreen</td>
                    <td class="ms-5"><%= prd.TouchScreen %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">WaterResistant</td>
                    <td class="ms-5"><%= prd.WaterResistant %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">WaterResistanceDepth</td>
                    <td class="ms-5"><%= prd.WaterResistanceDepth %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">Usage</td>
                    <td class="ms-5"><%= prd.Usage %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">Idealfor</td>
                    <td class="ms-5"><%= prd.Idealfor %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">Sensor</td>
                    <td class="ms-5"><%= prd.Sensor %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">CompatibleDevice</td>
                    <td class="ms-5"><%= prd.CompatibleDevice %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">Notification</td>
                    <td class="ms-5"><%= prd.Notification%></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">NotificationType</td>
                    <td class="ms-5"><%= prd.NotificationType %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">BatteryLife</td>
                    <td class="ms-5"><%= prd.BatteryLife %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">CallFunction</td>
                    <td class="ms-5"><%= prd.CallFunction %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">Bluetooth</td>
                    <td class="ms-5"><%= prd.Bluetooth %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">CalorieCount</td>
                    <td class="ms-5"><%= prd.CalorieCount %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">HeartRateMonitor</td>
                    <td class="ms-5"><%= prd.HeartRateMonitor %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">StepCount</td>
                    <td class="ms-5"><%= prd.StepCount %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">TouchScreen</td>
                    <td class="ms-5"><%= prd.Otherfeatures %></td>
                  </tr>
                </table>
              </div>
              <% } %> <% if( prd.type === "airpod"){%>
              <!-- <p><%=prd%></p> -->
              <div class="ms-4">
                <table class="mt-4">
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">name</td>
                    <td class="ms-5"><%= prd.name %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">price</td>
                    <td class="ms-5"><%= prd.price %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">color</td>
                    <td class="ms-5"><%= prd.color %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">headphoneType</td>
                    <td class="ms-5"><%= prd.headponeType %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">InlineRemote</td>
                    <td class="ms-5"><%= prd.InlineRemote %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">SalesPackage</td>
                    <td class="ms-5"><%= prd.SalesPackage %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">Connectivity</td>
                    <td class="ms-5"><%= prd.Connectivity %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">HeadphoneDesign</td>
                    <td class="ms-5"><%= prd.HeadphoneDesign %></td>
                  </tr>
                </table>
              </div>
              <% } %> <% if( prd.type === "analog"){%>
              <!-- <p><%=prd%></p> -->
              <div class="ms-4">
                <table class="mt-4">
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">name</td>
                    <td class="ms-5"><%= prd.name %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">price</td>
                    <td class="ms-5"><%= prd.price %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">color</td>
                    <td class="ms-5"><%= prd.color %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">Material</td>
                    <td class="ms-5"><%= prd.Material %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">CalenderType</td>
                    <td class="ms-5"><%= prd.CalenderType %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">CaseMaterial</td>
                    <td class="ms-5"><%= prd.CaseMaterial %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">Clasp</td>
                    <td class="ms-5"><%= prd.Clasp %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">DialColour</td>
                    <td class="ms-5"><%= prd.DialColour %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">DisplayType</td>
                    <td class="ms-5"><%= prd.DisplayType %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">CaseShap</td>
                    <td class="ms-5"><%= prd.CaseShap %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">SpecialFeatures</td>
                    <td class="ms-5"><%= prd.SpecialFeatures %></td>
                  </tr>
                </table>
              </div>
              <% } %>
              <% if( prd.type === "other"){%>
              <!-- <p><%=prd%></p> -->
              <div class="ms-4">
                <table class="mt-4">
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">name</td>
                    <td class="ms-5"><%= prd.name %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">price</td>
                    <td class="ms-5"><%= prd.price %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">color</td>
                    <td class="ms-5"><%= prd.color%></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">BatteryCapacity</td>
                    <td class="ms-5"><%= prd.BatteryCapacity %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">NetQuantity</td>
                    <td class="ms-5"><%= prd.NetQuantity %></td>
                  </tr>
                  <tr class="d-flex mt-2 bbottom">
                    <td class="point wid">ItemDimensions</td>
                    <td class="ms-5"><%= prd.ItemDimensions %></td>
                  </tr>
                  
                </table>
              </div>
              <% } %> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Related items section-->
    <section id="Relatedproducts" class="py-5 bg-light">
      <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
          <% data.forEach(function(val){ %> <% if( val.type === prd.type){%>
          <div class="col mb-5">
            <div class="card h-100">
              <a class="black" href="/loginfo/<%= val._id %>">
                <!-- Product image-->
                <img
                  class="card-img-top"
                  src="../images/<%= val.img2 %>"
                  alt="..."
                />
                <!-- Product details -->
                <div class="card-body p-4">
                  <!-- <a id="info"> aj</a> -->
                  <div class="text-center">
                    <!-- Product name -->
                    <h5 class="fw-bolder"><%= val.name %></h5>
                    <!-- Product price-->
                    Rs <%= val.price %>/-
                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                     <% if(user.product.indexOf( val._id ) === -1 ){%>
                      <a
                        href="/card/<%= val._id %>"
                        class="btn btn-outline-dark flex-shrink-0 ms-3"
                      >
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                      </a>
                      <% } else{ %>
                      <a
                        href="/card/<%= val._id %>"
                        class="btn btn-outlines-dark flex-shrink-0 ms-3"
                      >
                        <i class="bi-cart-fill me-1"></i>
                        Added
                      </a>
                      <% } %>
                      <!-- <p class="value"><%= val._id %></p> -->
                    </div>
                </div>
              </a>
            </div>
          </div>
          <% }%> <% }) %>
        </div>
      </div>
      <hr id="YoumayalsoLike">
      <!-- ////////////////////////////////////////// -->
      <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">You may also Like</h2>
        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
          <% data.forEach(function(val){ %> <% if( val.type !== prd.type){%>

          <div class="col mb-5">
            <div class="card h-100">
              <a class="black" href="/loginfo/<%= val._id %>">
                <!-- Product image-->
                <img
                  class="card-img-top"
                  src="../images/<%= val.img2 %>"
                  alt="..."
                />
                <!-- Product details -->
                <div class="card-body p-4">
                  <!-- <a id="info"> aj</a> -->
                  <div class="text-center">
                    <!-- Product name -->
                    <h5 class="fw-bolder"><%= val.name %></h5>
                    <!-- Product price-->
                    Rs <%= val.price %>/-
                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                     <% if(user.product.indexOf( val._id ) === -1 ){%>
                      <a
                        href="/card/<%= val._id %>"
                        class="btn btn-outline-dark flex-shrink-0 ms-3"
                      >
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                      </a>
                      <% } else{ %>
                      <a
                        href="/card/<%= val._id %>"
                        class="btn btn-outlines-dark flex-shrink-0 ms-3"
                      >
                        <i class="bi-cart-fill me-1"></i>
                        Added
                      </a>
                      <% } %>
                      <!-- <p class="value"><%= val._id %></p> -->
                    </div>
                </div>
              </a>
            </div>
          </div>
          <% }%> <% }) %>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2022
        </p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../javascripts/scripts.js"></script>
  </body>
</html>
